include/contrib/** linguist-vendored
src/AMSC/** linguist-vendored
crow/contrib/include/boost/** linguist-vendored
ravenframework/contrib/** linguist-vendored
tests/framework/CodeInterfaceTests/** linguist-vendored
doc/** linguist-documentation
*.hpp linguist-detectable=false
