* linguist-detectable=false
*.py linguist-detectable=true
*.ipynb filter=remove-notebook-output
crow/contrib/include/Eigen/* linguist-vendored
crow/contrib/include/boost/* linguist-vendored
ravenframework/contrib/* linguist-vendored
src/contrib/* linguist-vendored
include/contrib/* linguist-vendored
tests/framework/CodeInterfaceTests/* linguist-vendored
doc/* linguist-documentation
