.libs
*.dylib
*.la
*.lo
*.d
*.o
*.a
*-opt
*-dbg
*-oprof
*-devel
*.e
*.csv
*.so
*~
*.ctf
tests/core_example/PWR_CoreChannel_controlled_var_restart_test_out_restart_0020.ravenaux
tests/core_example/PWR_CoreChannel_controlled_var_test_out_restart_0020.ravenaux
*.ravencntr
control_modules/distribution1D.py
control_modules/distribution1D_wrap.cxx
control_modules/raventools.py
control_modules/raventools_wrap.cxx
control_modules/libdistribution1D.so*
control_modules/libdistribution1D.so*
control_modules/libraventools.so*
control_modules/libraventools.so*
libRAVEN*.so*
RAVEN-devel
tests/framework/DataBaseStorage/
tests/framework/GridTestBison/CustomSampler/
tests/framework/GridTestRaven/FirstMRun/
tests/framework/LHStestBison/myLHS/
tests/framework/LHStestRaven/FirstMRun/
tests/framework/MCTestBison/CustomSampler/
tests/framework/MCTestBison/CustomSampler_noalias/
tests/framework/branch/DETrunTest/
tests/framework/SBO_DET/DET/
tests/framework/mode_test/FirstMRun/
tests/framework/output_check/*.png
tests/framework/output_check/FirstMRun/
tests/framework/revirD_tset/FirstMRun/
tests/framework/test_extract_data_s_from_hdf5/MonteCarlo/
tests/framework/test_rom_trainer/MC_for_rom_trainer/
tests/framework/mpi_driver_test/FirstMRun/
tests/framework/CodeInterfaceTests/MelcorInterface/testMelcor/*
tests/framework/CodeInterfaceTests/RELAP5interfaceTestSingleRun/*
work_in_progress/remote_tools/remote_tools
work_in_progress/remote_tools/remote_tools.py
work_in_progress/remote_tools/remote_tools_wrap.cxx
work_in_progress/remote_tools/time
framework/DatabaseStorage/
tests/framework/LHStestFerret/myLHS/
tests/framework/PreconditionedDynamicEventTree/PreconditionedDETrunTest/
tests/framework/CUBIT_MOOSE_test/grid_run/
tests/framework/BISON_and_MESH_test/grid_run/
tests/framework/RedundantInputs/sim_py_MC/
tests/framework/RedundantInputs/sim_py_grid/
tests/plugins
plugins/ExamplePlugin/doc/version.tex
build/
.failed_tests
.ravenrc

# eclipse
.project
.cproject

#osx
.DS_Store

# python
*.pyc
*.pyo

# vim
*~
*.swp

#coverage
tests/framework/.coverage
tests/framework/htmlcov/

# hpc
node_*[0-9]
*.[oe][0-9][0-9][0-9][0-9][0-9]
*.[oe][0-9][0-9][0-9][0-9][0-9][0-9]
*.[oe][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
framework/states.txt

#OSX
.DS_Store
