.failed_tests
.libs
.ravenrc
*-dbg
*-devel
*-oprof
*-opt
*.a
*.csv
*.ctf
*.d
*.dylib
*.e
*.la
*.lo
*.o
*.ravencntr
*.ravenStatus
*.so
*~
build_out*
build/
install/
libRAVEN*.so*
plugins/ExamplePlugin/doc/version.tex
raven_cxx.egg-info/
raven_framework.egg-info/
raven_framework*.whl
src/contrib/amsc.egg-info/
src/crow_modules/distribution1D_wrap.cpp
src/crow_modules/distribution1D.py
src/crow_modules/interpolationND_wrap.cpp
src/crow_modules/interpolationND.py
src/crow_modules/randomENG_wrap.cpp
src/crow_modules/randomENG.py
test_out*

# eclipse
.project
.cproject

#osx
.DS_Store

# python
*.pyc
*.pyo

# vim
*~
*.swp

#coverage
tests/framework/.coverage
tests/framework/htmlcov/

# hpc
node_*[0-9]
*.[oe][0-9][0-9][0-9][0-9][0-9]
*.[oe][0-9][0-9][0-9][0-9][0-9][0-9]
*.[oe][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
framework/states.txt

#OSX
.DS_Store

# plugin installation paths
plugins/plugin_directory.xml

# vscode
.vscode
*.code-workspace
