include crow/include/distributions/*.h
include crow/include/utilities/*.h
recursive-include crow/contrib/include/Eigen *
recursive-include crow/contrib/include/boost *
include include/contrib/AMSC/*.h
include include/contrib/ngl/*.h*