*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.out
raven_user_manual.pdf
version.tex
new_version.tex
user_manual/libraries.tex
user_manual/new_libraries.tex
user_manual/conda_command.txt
user_manual/pip_commands.txt
*.toc
doxygen/html/
doxygen/latex/
analytic_tests.pdf
pdfs/
raven_user_guide.pdf
tests/regression_tests_documentation.pdf
tests/regression_tests_documentation.tex
theory_manual/raven_theory_manual.pdf
