*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.out
raven_user_manual.pdf
version.tex
new_version.tex
user_manual/libraries.tex
user_manual/new_libraries.tex
*.toc
doxygen/html/
doxygen/latex/
analytic_tests.pdf
pdfs/
raven_user_guide.pdf

/user_manual/
